In [1]:
import numpy as np # type: ignore
import pandas as pd # type: ignore
import ast
import requests
import time

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
movies = movies.merge(credits, on='title')

In [5]:
# Genres, id, keywords, title, overview, cast, crew
movies = movies[['id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [6]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [7]:
movies.dropna(inplace=True)

In [8]:
movies.duplicated().sum()

0

In [9]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [10]:
# '[{"id": 28, "name": "Action"', {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}] // Default Format
#['Action", 'Adventure', 'FFantasy', 'SciFi'] // The format in which we will convert

In [11]:
def convert(obj):
    L = []
    for i in ast.literal_eval(str(obj)):
        L.append(i['name'])
    return L

In [12]:
def convert2(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(str(obj)):
        if counter!=3:
            L.append(i['name'])
            counter+=1
        else: 
            break
    return L

In [13]:
def fetch_obj(obj):
    L = []
    for i in ast.literal_eval(str(obj)):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [14]:
convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [15]:
movies['genres'] = movies['genres'].apply(convert)
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [17]:
movies['cast'] = movies['cast'].apply(convert2)
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [18]:
movies['crew'] =  movies['crew'].apply(fetch_obj)
movies

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[Action, Crime, Thriller]","[united states–mexico barrier, legs, arms, pap...","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[Comedy, Romance]",[],"[Edward Burns, Kerry Bishé, Marsha Dietlein]",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[Comedy, Drama, Romance, TV Movie]","[date, love at first sight, narration, investi...","[Eric Mabius, Kristin Booth, Crystal Lowe]",[Scott Smith]
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton]",[Daniel Hsia]
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,[Documentary],"[obsession, camcorder, crush, dream girl]","[Drew Barrymore, Brian Herzlinger, Corey Feldman]",[Brian Herzlinger]

In [19]:
movies['overview'] = movies['overview'].apply(lambda x: x.split())
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [20]:
movies['genres'] = movies['genres'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['cast'] = movies['cast'].apply(lambda x: [i.replace(" ", "") for i in x])
movies['crew'] = movies['crew'].apply(lambda x: [i.replace(" ", "") for i in x])

movies

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger]

In [21]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies

,id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...",[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger],"[Ever, since, the, second, grade, when, he, fi..."

In [22]:
new_df = movies[['id', 'title', 'tags']]

In [23]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())
new_df

/var/folders/zz/jtxdkwzx2vb9k8v6gyqr13200000gn/T/ipykernel_38443/3752430121.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x).lower())

,id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,a newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,when ambitious new york attorney sam is sent t...
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [24]:
import nltk

In [25]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [26]:
def stem(text):
    y = []
    for i in text.split() : 
        y.append(ps.stem(i))
    return " ".join(y)

In [27]:
new_df['tags'] = new_df['tags'].apply(stem)

/var/folders/zz/jtxdkwzx2vb9k8v6gyqr13200000gn/T/ipykernel_38443/3213734980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [29]:
vectors = cv.fit_transform(new_df['tags']).toarray() # type: ignore

In [30]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [31]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [32]:
a = cv.get_feature_names_out()
# print(a[0:500])

In [33]:
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
similarity = cosine_similarity(vectors)

In [35]:
print(new_df[new_df['title'] == 'Batman Begins'].index[0])

119

In [36]:
def recommend(movie): 
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:15]
    movies_name = []
    for i in movie_list:
        movies_name.append(new_df.iloc[i[0]].title)

    return movies_name

In [124]:
def id_fetecher_image(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:15]
    image_path = []
    
    for i in movie_list:
        url = f"https://api.themoviedb.org/3/search/movie?query={new_df.iloc[i[0]].title.replace(' ', '+')}&include_adult=false&language=en-US&page=1"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjY1MDUwMzBlMzJiMDM4OWUxYzE5MTBkYTA0ZThiYSIsIm5iZiI6MTcyMDUxNjkzOS44Mzk5MDMsInN1YiI6IjY2OGQwMDdlZjgyY2E4YmMxNDBkZTg2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.XvbHC4Rb1SvMUMnyPLvYWLWgCHSeetP_FS7e6A4EJDY"
        }

        response = requests.get(url, headers=headers)

        data = response.json()
        total_url  = "https://image.tmdb.org/t/p/w500/" + data['results'][0].get("poster_path")

        image_path.append(total_url)

    return image_path

In [119]:
# id_fetecher_image("Spectre")

['https://image.tmdb.org/t/p/w500//e3DXXLJHGqMx9yYpXsql1XNljmM.jpg', 'https://image.tmdb.org/t/p/w500//d0IVecFQvsGdSbnMAHqiYsNYaJT.jpg', 'https://image.tmdb.org/t/p/w500//zhoAL4o1STGgLbLxJ9r1ijfyHC9.jpg', 'https://image.tmdb.org/t/p/w500//zx4V17FP8oclNvOpTgs2iCCtiYk.jpg', 'https://image.tmdb.org/t/p/w500//yoosZitM9igSk3Sd0sBXIhKlAh1.jpg', 'https://image.tmdb.org/t/p/w500//ooDT0eKrWCxJCsn9JehPkD0QYNj.jpg', 'https://image.tmdb.org/t/p/w500//wCc4qllaTDsQN8zgGkAgQrKO6N9.jpg', 'https://image.tmdb.org/t/p/w500//2CbJ3HTb6SFbMeguYH52UQSHOwY.jpg', 'https://image.tmdb.org/t/p/w500//8nzJve63EXA79HGAyidZwivZrQ2.jpg', 'https://image.tmdb.org/t/p/w500//9zCOLJmLNst0sCPZlkW1IRoH65E.jpg', 'https://image.tmdb.org/t/p/w500//bZmGqOhMhaLn8AoFMvFDct4tbrL.jpg', 'https://image.tmdb.org/t/p/w500//3rWIZMzTKcCtV0eHJ70Z4Ru659f.jpg', 'https://image.tmdb.org/t/p/w500//yVzJLLhBwuWJBR9BYEMurShu2WT.jpg', 'https://image.tmdb.org/t/p/w500//cv0AonfuCDrt1sfR8HRopODEbul.jpg']

In [114]:
recommend('Avatar')

['Aliens vs Predator: Requiem',
 'Aliens',
 'Falcon Rising',
 'Independence Day',
 'Titan A.E.',
 'Battle: Los Angeles',
 'Predators',
 'Small Soldiers',
 'Jupiter Ascending',
 'Meet Dave',
 'U.F.O.',
 'Lifeforce',
 'Attack the Block',
 'The Twilight Saga: Breaking Dawn - Part 2']

In [40]:
import pickle

pickle.dump(new_df.to_dict(), open('movies_dict.pkl', 'wb'))

In [122]:
def movie_overview(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)), reverse=True, key=lambda x: x[1])[1:15]
    moview_overview = []
    
    for i in movie_list:
        url = f"https://api.themoviedb.org/3/search/movie?query={new_df.iloc[i[0]].title.replace(' ', '+')}&include_adult=false&language=en-US&page=1"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjY1MDUwMzBlMzJiMDM4OWUxYzE5MTBkYTA0ZThiYSIsIm5iZiI6MTcyMDUxODYwMy4xNDUyNSwic3ViIjoiNjY4ZDAwN2VmODJjYThiYzE0MGRlODY2Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.XYTj7Cb7rQVeGM69OgZRjqXs6zN1G1spEPGKsMn2UTE"
        }

        response = requests.get(url, headers=headers)

        data = response.json()
        overview  = data["results"][0].get("overview")

        moview_overview.append(overview)

    return moview_overview

In [123]:
# movie_overview("Spectre")

['Betrayed by Vesper, the woman he loved, 007 fights the urge to make his latest mission personal. Pursuing his determination to uncover the truth, Bond and M interrogate Mr. White, who reveals that the organization that blackmailed Vesper is far more complex and dangerous than anyone had imagined.',
 "When Bond's latest assignment goes gravely wrong, agents around the world are exposed and MI6 headquarters is attacked. While M faces challenges to her authority and position from Gareth Mallory, the new Chairman of the Intelligence and Security Committee, it's up to Bond, aided only by field agent Eve, to locate the mastermind behind the attack.",
 "James Bond returns as the secret agent 007 to battle the evil organization SPECTRE. Bond must defeat Largo, who has stolen two atomic warheads for nuclear blackmail. But Bond has an ally in Largo's girlfriend, the willowy Domino, who falls for Bond and seeks revenge.",
 'Agent 007 is back in the second installment of the James Bond series, this time battling a secret crime organization known as SPECTRE. Russians Rosa Klebb and Kronsteen are out to snatch a decoding device known as the Lektor, using the ravishing Tatiana to lure Bond into helping them. Bond willingly travels to meet Tatiana in Istanbul, where he must rely on his wits to escape with his life in a series of deadly encounters with the enemy.',
 'James Bond is sent to investigate after a fellow “00” agent is found dead with a priceless Indian Fabergé egg. Bond follows the mystery and uncovers a smuggling scandal and a Russian General who wants to provoke a new World War.',
 "Diamonds are stolen only to be sold again in the international market. James Bond infiltrates a smuggling mission to find out who's guilty. The mission takes him to Las Vegas where Bond meets his archenemy Blofeld.",
 'A criminal organization has obtained two nuclear bombs and are asking for a 100 million pound ransom in the form of diamonds in seven days or they will use the weapons. The secret service sends James Bond to the Bahamas to once again save the world.',
 'A young woman with a mysterious past lands in Southport, North Carolina where her bond with a widower forces her to confront the dark secret that haunts her.',
 "After capturing the notorious drug lord Franz Sanchez, Bond's close friend and former CIA agent Felix Leiter is left for dead and his wife is murdered. Bond goes rogue and seeks vengeance on those responsible, as he infiltrates Sanchez's organization from the inside.",
 'Agent 007 battles mysterious Dr. No, a scientific genius bent on destroying the U.S. space program. As the countdown to disaster begins, Bond must go to Jamaica, where he encounters beautiful Honey Ryder, to confront a megalomaniacal villain in his massive island headquarters.',
 'James Bond is sent to investigate the connection between a North Korean terrorist and a diamond mogul, who is funding the development of an international space weapon.',
 'Framed for crimes against the country, the G.I. Joe team is terminated by Presidential order. This forces the G.I. Joes into not only fighting their mortal enemy Cobra; they are forced to contend with threats from within the government that jeopardize their very existence.',
 'James Bond tracks his archnemesis, Ernst Blofeld, to a mountaintop retreat in the Swiss alps where he is training an army of beautiful, lethal women. Along the way, Bond falls for Italian contessa Tracy Draco, and marries her in order to get closer to Blofeld.',
 'Two outsiders, both shaped by the circumstances that have brought them together, forge a deep and lasting love.']

In [43]:

# movie_index = new_df['id']
# movie_list = sorted(list(enumerate(movie_index)), reverse=True, key=lambda x: x[1])
# image_path = []

# for i in movie_index:
#     url = f"https://api.themoviedb.org/3/movie/{i}?language=en-US"

    # headers = {
    #     "accept": "application/json",
    #     "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjY1MDUwMzBlMzJiMDM4OWUxYzE5MTBkYTA0ZThiYSIsIm5iZiI6MTcyMDUxNjkzOS44Mzk5MDMsInN1YiI6IjY2OGQwMDdlZjgyY2E4YmMxNDBkZTg2NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.XvbHC4Rb1SvMUMnyPLvYWLWgCHSeetP_FS7e6A4EJDY"
    # }

#     response = requests.get(url, headers=headers)

#     data = response.json()
#     total_url  = "https://image.tmdb.org/t/p/w500/" + data['poster_path']

#     if total_url not in new_df['poster_url']:
#         new_df['poster_url'] = total_url
#     else : 
#         pass

In [44]:
# import pandas as pd
# import requests
# import time
# import os

# # Load the existing DataFrame if it exists
# file_path = 'movies_with_posters.csv'
# if os.path.exists(file_path):
#     new_df = pd.read_csv(file_path)
# else:
#     # Assuming new_df is created elsewhere in your script
#     # Add an empty 'poster_url' column if it doesn't exist
#     if 'poster_url' not in new_df.columns:
#         new_df['poster_url'] = None

# # Define headers once to avoid repeating it in the loop
# headers = {
#     "accept": "application/json",
#     "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjY1MDUwMzBlMzJiMDM4OWUxYzE5MTBkYTA0ZThiYSIsIm5iZiI6MTcyMDUxODYwMy4xNDUyNSwic3ViIjoiNjY4ZDAwN2VmODJjYThiYzE0MGRlODY2Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.XYTj7Cb7rQVeGM69OgZRjqXs6zN1G1spEPGKsMn2UTE"
# }

# # Function to get poster URL
# def fetch_poster_url(movie_id):
#     url = f"https://api.themoviedb.org/3/movie/{movie_id}?language=en-US"
#     try:
#         response = requests.get(url, headers=headers)
#         response.raise_for_status()
#         data = response.json()
#         poster_path = data.get('poster_path')
#         if poster_path:
#             return "https://image.tmdb.org/t/p/w500/" + poster_path
#         else:
#             print(f"Poster path not found for movie ID {movie_id}")
#             return None
#     except requests.exceptions.RequestException as e:
#         print(f"Error fetching data for movie ID {movie_id}: {e}")
#         return None

# # Loop through the movie index and fetch poster URLs
# for idx, row in new_df.iterrows():
#     if pd.isna(row['poster_url']):  # Only fetch if the poster_url is not already present
#         total_url = fetch_poster_url(row['id'])
#         new_df.at[idx, 'poster_url'] = total_url  # Update the DataFrame immediately
#         print(f"Fetched poster for movie ID {row['id']}: {total_url}")
        
#         # Save the DataFrame to disk to avoid data loss
#         new_df.to_csv(file_path, index=False)
        
#         # Rate limiting: sleep to avoid hitting the rate limit
#         time.sleep(0.02)  # Sleep for 20 milliseconds to stay within the 50 requests per second limit

# print(new_df)

In [117]:
# import requests

# url = "https://api.themoviedb.org/3/search/movie?query=Paranormal+activity+2&include_adult=false&language=en-US&page=1"

# headers = {
#     "accept": "application/json",
#     "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyYjY1MDUwMzBlMzJiMDM4OWUxYzE5MTBkYTA0ZThiYSIsIm5iZiI6MTcyMDUxODYwMy4xNDUyNSwic3ViIjoiNjY4ZDAwN2VmODJjYThiYzE0MGRlODY2Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.XYTj7Cb7rQVeGM69OgZRjqXs6zN1G1spEPGKsMn2UTE"
# }

# response = requests.get(url, headers=headers)
# data  = response.json()
# print(data["results"][0].get("overview"))

Just as Daniel and Kristi welcome a newborn baby into their home, a demonic presence begins terrorizing them, tearing apart their perfect world and turning it into an inescapable nightmare.

In [69]:
# t = new_df.iloc[[1][0]].title.replace
# t.replace(' ', '+')

"Pirates+of+the+Caribbean:+At+World's+End"